{% extends 'base.html' %} {% load static %} {% block title %}
<title>My Stories</title>
{% endblock title %} {% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'post-list' %}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link text-warning" href="{% url 'stories' %}">Stories</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
</li>
{% endblock nav %} {% block body %}
<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 text-warning">My Stories</h1>
            <p class="lead">Browse through your posts.</p>
            <p class="lead">or</p>
            <p class="lead">
                <a
                    class="btn btn-warning btn-lg"
                    href="{% url 'post-form' %}"
                    role="button"
                    >Post a Story</a
                >
            </p>
        </div>
    </div>
    <br />
    {% if posts %}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a
                    data-toggle="tab"
                    href="#drafts"
                    style="text-decoration: none"
                    class="text-right mr-3 text-warning"
                    >Drafts<span
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                        >{{ drafts.count }}</span
                    ></a
                >
            </li>
            <span>&nbsp;|&nbsp;</span>
            <li>
                <a
                    data-toggle="tab"
                    href="#published"
                    style="text-decoration: none"
                    ><span class="text-right ml-3 text-success"
                        >Published<span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
                        >
                            {{ published.count }}
                        </span></span
                    ></a
                >
            </li>
        </ul>
        <div class="tab-content">
            <div id="drafts" class="tab-pane active">
                <br />
                {% if drafts %}
                <div class="row mx-auto justify-content-center">
                    {% for post in drafts %}
                    <div class="card bg-dark col-lg-5 mx-auto col-sm-12 mt-3">
                        <div class="card-header text-dark">
                            <h5 class="card-title px-auto mx-auto">
                                <a
                                    href="{{  post.get_absolute_url  }}"
                                    class="text-warning"
                                    style="text-decoration: none"
                                    >{{ post.title }}</a
                                >
                            </h5>
                        </div>

                        {% if post.image %}
                        <img
                            src="{{post.image.url}}"
                            class="card-img-top"
                            alt=""
                        />
                        {%endif%}
                        <div class="card-body">
                            <p class="card-text">
                                {{ post.content|truncatewords:25 }}
                            </p>
                            <div class="row mx-auto">
                                
                                <a
                                href="{% url 'post-publish' pk=post.pk %}"
                                class="card-link btn btn-success col-3"
                                >Publish</a
                            >
                            <a
                                href="{% url 'post-edit' pk=post.pk %}"
                                class="card-link btn btn-warning col-3"
                                >Edit</a
                            >
                            <a
                                href="{% url 'post-remove' pk=post.pk %}"
                                class="card-link btn btn-danger col-3"
                                >Delete</a
                            >
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>

                {% else %}
                <div class="jumbotron jumbotron-fluid text-center">
                    <h1 class="display-4">No Drafts</h1>
                    <hr class="my-4" />
                    <p>You do not have any saved posts</p>
                    <p class="lead">
                        Add a new post above then come back again
                    </p>
                </div>
                {% endif %}
            </div>
            <div id="published" class="tab-pane fade">
                <br />
                {% if published %}
                <div class="row mx-auto justify-content-center">
                    {% for post in published %}
                    <div class="card bg-dark col-lg-5 mx-auto col-sm-12 mt-3">
                        <div class="card-header text-dark">
                            <h5 class="card-title px-auto mx-auto">
                                <a
                                    href="{{  post.get_absolute_url  }}"
                                    class="text-warning"
                                    style="text-decoration: none"
                                    >{{ post.title }}</a
                                >
                            </h5>
                        </div>

                        {% if post.image %}
                        <img
                            src="{{post.image.url}}"
                            class="card-img-top"
                            alt=""
                        />
                        {%endif%}
                        <div class="card-body">
                            <p class="card-text">
                                {{ post.content|truncatewords:25 }}
                            </p>
                            <a
                                href="{% url 'post-edit' pk=post.pk %}"
                                class="card-link btn btn-warning"
                                >Edit</a
                            >
                            <a
                                href="{% url 'post-remove' pk=post.pk %}"
                                class="card-link btn btn-danger"
                                >Delete</a
                            >
                        </div>
                    </div>

                    {% endfor %}
                </div>
                {% else %}
                <br />
                <div class="jumbotron jumbotron-fluid text-center">
                    <h1 class="display-4">No Posts Published</h1>
                    <hr class="my-4" />
                    <p>You have not published any post</p>
                    <p class="lead">Add a new post then publish it to view</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="jumbotron">
        <h1 class="display-4">No Posts</h1>
        <p class="lead">You haven't posted anything yet</p>
        <hr class="my-4" />
        <p>Click below to make your first post.</p>
        <a
            class="btn btn-danger btn-outline-warning btn-lg"
            href="{% url 'post-form' %}"
            role="button"
            >Post</a
        >
    </div>
    {% endif %}
</main>
{% endblock body %} {% block footer %}
<footer class="container fixed-bottom">{% endblock footer %}</footer>
