{% extends 'base.html' %} {% load static %} {% block title %}
<title>Blog</title>
{% endblock title %} {% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-warning" href="{% url 'post-list' %}">Blog</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'stories' %}">Stories</a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
</li>

{% endblock nav %} {% block body %}

<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1 class="display-4 text-warning">Welcome to our blog</h1>
            <p class="lead">
                Browse through our stories to find whichever tickles your fancy.
            </p>
            <hr class="my-4" />

            {% if user.is_authenticated %}
            <p class="lead btn-group">
                <a class="btn btn-warning" href="{%url 'post-form'%}"
                    >New Post</a
                >
                <a class="btn btn-success">Search post</a>
            </p>
            {% else %}
            <p class="lead">You must log in to post on this blog</p>

            <p class="lead btn-group">
                <a class="btn btn-success">Search post</a>
            </p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <br />
        <span class="text-right mr-3">Recommended</span>
        <span>|</span>
        <span class="text-success ml-3">Following</span>
        <hr class="bg-danger" />

        {% if post_list %} {% for post in post_list %}
        <div class="jumbotron pl-3">
            <div class="row px-3 mx-auto">
                <div class="col-9">
                    <a
                        href="{{ post.author.get_absolute_url }}"
                        class="text-light"
                        style="text-decoration: none"
                    >
                        @{{ post.author }}</a
                    >
                    &nbsp; &middot; &nbsp;
                    <span class="text-primary"
                        >{{ post.publish_date|date:'D-M-Y' }}</span
                    >
                    &nbsp; &middot; &nbsp;
                    <a
                        type="button"
                        href="{{  post.get_absolute_url  }}"
                        class="btn btn-info btn-sm rounded-pill"
                    >
                        Comment{{ post.approve_comments.count|pluralize }}
                        <span class="badge bg-secondary"
                            >{{ post.approve_comments.count|default:'0' }}</span
                        >
                    </a>

                    <p class="lead" style="font-weight: bolder">
                        <br />
                        <a
                            href="{{  post.get_absolute_url  }}"
                            class="text-warning img-fluid rounded-circle hd"
                            style="text-decoration: none"
                            >{{ post.title }}</a
                        >
                    </p>

                    <p>{{ post.content|truncatewords:50 }}</p>
                </div>

                {% if post.image %}
                <div class="col-3 justify-content-center mx-auto d-lg-block">
                    <img
                        src="{{ post.image.url }}"
                        class="img-fluid h-100 rounded-top"
                        alt=""
                        width="90%"
                    />
                </div>
                {% endif %}
            </div>
            <hr class="my-2" />
        </div>
        {% endfor %} {% else %}
        <div class="jumbotron">
            <h1 class="display-4">No Posts</h1>
            <p class="lead">There are currently no posts</p>
            <hr class="my-4" />
            <p>Click below to be the first to post.</p>
            <a
                class="btn btn-danger btn-outline-warning btn-lg"
                href="{% url 'post-form' %}"
                role="button"
                >Post</a
            >
        </div>
        {% endif %}
    </div>
</main>
{% endblock body %}
