{% extends 'base.html' %} {% load static %} {% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-warning" href="{% url 'blog' %}">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Login</a>
</li>
{% endblock nav %} {% block body %}
<main>
    <div class="container">
        <br />
        <span class="text-right">Recommended</span>
        <hr class="bg-danger" />
        {% for post in post_list %}
        <div class="jumbotron pl-3">
            <div class="row px-3 mx-auto">
                <div class="col-9">
                    <a
                        href="{{post.author.get_absolute_url}}"
                        class="text-light"
                        style="text-decoration: none"
                    >
                        <img
                            src="{{post.author.pic.url}}"
                            class="img-fluid rounded-circle"
                            alt="Avatar"
                            width="4%"
                        /> &nbsp;
                        {{post.author.name|default:'Anonymous'}}</a
                    >
                    &nbsp; &middot; &nbsp;
                    <span class="text-danger">{{post.publish_date}}</span>

                    <p class="lead" style="font-weight: bolder">
                        <br />
                        <a
                            id="headline"
                            href="{{post.get_absolute_url}}"
                            class="text-warning img-fluid rounded-circle hd"
                            style="text-decoration: none"
                            >{{post.title}}</a
                        >
                    </p>

                    <p>{{post.content|truncatewords:50}}</p>
                </div>

                <div class="col-3 justify-content-center mx-auto d-lg-block">
                    <img
                        src="{{post.image.url}}"
                        class="img-fluid h-100 rounded-top"
                        alt=""
                        width="90%"
                    />
                </div>
            </div>
            <hr class="my-2" />
        </div>
        {% endfor %}
    </div>
</main>
{% endblock body %}
